.card {
  position: relative;

  font-family: $default-font;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.41;
  color: $default-text-color;

  border: 1px solid $grey--light;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:focus-within {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.card__content {
  position: relative;
  margin: 0 28px;
}

.card__link-img {
  display: block;
  height: auto;
  margin: 0;
  padding: 0;

  background-color: $grey--light;

  overflow: hidden;
}

.card__picture,
.card__img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.card__name {
  margin: 28px 0 5px 0;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: $title-text-color;
}

.card__text {
  margin: 6px 0 20px 0;

  line-height: 2.31;
}

.card__price-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  border-top: 1px solid $grey--light;
}

.card__price {
  margin: 20px 10px 21px 0;
  padding-bottom: 5px;

  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  color: $title-text-color;
}

.card__cart {
  display: block;
  width: 25px;
  height: 25px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

@media (min-width: $tablet-width) {
  .card {
    &:hover {
      box-shadow: 6px 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:focus-within {
      box-shadow: 6px 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .card__content {
    min-height: 334px;
    margin-left: calc(334px + 28px);
    padding: 0.1px 0 75px 0;
  }

  .card__link-img {
    position: absolute;
    left: 0;
    width: 334px;
    min-height: 334px;
  }

  .card__name {
    margin: 25px 0 6px 0;
    padding-right: 40px;

    font-size: 20px;
    line-height: 1.2;
  }

  .card__text {
    margin: 3px 0 20px 0;

    font-size: 15px;
    line-height: 2;
  }

  .card__price-tag {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0.1px;
  }

  .card__price {
    margin: 23px 10px 23px 0;
    padding-bottom: 5px;

    font-size: 17px;
    line-height: 1.41;
  }
}

@media (min-width: $desktop-width) {
  .card {
    width: 316px;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:focus-within {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .card__link-img {
    position: static;
    width: auto;
    min-height: 462px;
  }

  .card__content {
    min-height: 197px;
    margin: 0 28px;
  }

  .card__name {
    margin: 25px 0 4px 0;
    padding-right: 20px;
  }

  .card__text {
    margin: 4px 0 10px 0;
  }
}
