.card {
  font-family: $default-font;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.41;
  color: $default-text-color;
}

.card__link-img {
  display: block;
  margin: 0;
  padding: 0;

  &:hover + .card__content,
  &:focus + .card__content {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active + .card__content {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.card__img {
  display: block;
  width: 260px;
  height: 195px;
  margin: 0;
  padding: 0;
}

.card__content {
  min-height: 179px;
  padding: 1px 28px;

  border: 1px solid $grey--light;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:focus-within {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.card__name {
  margin: 25px 0 5px 0;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: $title-text-color;
}

.card__text {
  margin: 6px 0 20px;

  line-height: 2.31;
}

.card__price-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 71px;

  border-top: 1px solid $grey--light;
}

.card__price {
  padding-bottom: 5px;

  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  color: $title-text-color;
}

.card__cart {
  display: block;
  width: 25px;
  height: 25px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

@media (min-width: $tablet-width) {
  .card {
    display: flex;
  }

  .card__link-img {
    &:hover + .card__content,
    &:focus + .card__content {
      box-shadow: 6px 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active + .card__content {
      box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .card__img {
    width: 334px;
    height: 334px;
  }

  .card__content {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    min-height: 334px;

    &:hover {
      box-shadow: 6px 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:focus-within {
      box-shadow: 6px 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .card__name {
    margin: 25px 40px 2px 0;

    font-size: 20px;
    line-height: 1.2;
  }

  .card__text {
    margin: 3px 0 20px 0;

    font-size: 15px;
    line-height: 2;
  }

  .card__price-tag {
    margin-top: auto;
  }

  .card__price {
    font-size: 17px;
    line-height: 1.41;
  }
}
