.card {
  position: relative;

  font-family: $default-font;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.41;
  color: $default-text-color;

  border: 1px solid $grey--light;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:focus-within {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.card__content {
  position: relative;
  margin: 0 28px;
}

.card__link-img {
  display: block;
  height: auto;
  margin: 0;
  padding: 0;

  background-color: $grey--light;

  overflow: hidden;
}

.card__picture,
.card__img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.card__link {
  color: $title-text-color;

  &:hover {
    color: rgba($title-text-color, 0.6);
  }

  &:active {
    color: rgba($title-text-color, 0.3);
  }
}

.card__name {
  margin: 28px 0 5px 0;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: inherit;
}

.card__text {
  margin: 6px 0 20px 0;

  line-height: 2.31;
}

.card__price-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  border-top: 1px solid $grey--light;
}

.card__price {
  margin: 20px 10px 21px 0;
  padding-bottom: 5px;

  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  color: $title-text-color;
}

.card__cart {
  position: relative;
  display: block;
  width: 21px;
  height: 27px;
  padding-bottom: 9px;

  &:hover .card__icon-cart {
    fill: $blue--seafoam;
    opacity: 1;
  }

  &:active .card__icon-cart {
    fill: $blue--seafoam;
    opacity: 0.3;
  }
}

.card__cart-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__icon-cart {
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .card {
    display: flex;
    width: 100%;

    &:hover {
      box-shadow: 6px 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:focus-within {
      box-shadow: 6px 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .card__content {
    width: 50%;
    margin: 0;
    padding: 0 28px 90px 28px;
  }

  .card__link-img {
    width: 50%;
  }

  .card__name {
    margin: 25px 0 6px 0;
    padding-right: 40px;

    font-size: 20px;
    line-height: 1.2;
  }

  .card__text {
    margin: 3px 0 20px 0;

    font-size: 15px;
    line-height: 2;
  }

  .card__price-tag {
    position: absolute;
    bottom: 0;
    left: 28px;
    width: calc(100% - 28px * 2);
    margin: 0;
    padding: 0.1px 5px;
  }

  .card__price {
    margin: 21px 10px 23px 0;
    padding-bottom: 5px;

    font-size: 17px;
    line-height: 1.41;
  }
}

@media (min-width: $desktop-width) {
  .card {
    display: block;
    width: 316px;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:focus-within {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .card__link-img {
    width: auto;
    min-height: 462px;
  }

  .card__content {
    width: auto;
    min-height: 170px;
    padding: 0 28px 78px 28px;
  }

  .card__name {
    margin: 25px 0 4px 0;
    padding-right: 20px;
  }

  .card__text {
    margin: 4px 0 10px 0;
  }

  .card__price-tag {
    padding: 0.1px;
  }

  .card__cart {
    display: block;
    width: 25px;
    height: 27px;
    padding: 0 4px 9px 0;
  }
}
