.comment {
  margin: 0;
  padding: 0;

  font-family: $default-font;
  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  color: $default-text-color;
}

.comment__text {
  margin: 25px 0;
}

.comment__author {
  display: block;
  margin: 25px 0;
  padding: 0;
}

.comment__author-name {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.41;
  color: $title-text-color;
}

.comment__author-tag {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.76;
}

@media (min-width: $tablet-width) {
  .comment__text {
    margin: 50px 0;

    font-size: 17px;
    line-height: 1.76;
  }

  .comment__author {
    margin: 60px 200px 60px 0;
  }
}

@media (min-width: $tablet-width) {
  .comment__text {
    margin: 50px 100px 20px 0;
  }

  .comment__author {
    margin: 40px 200px 100px 0;
  }
}
