.feedback {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 33px;
}

.feedback__title {
  margin: 22px 0 25px 0;

  font-family: $default-font;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: $title-text-color;
}

.feedback__arrow-wrapper {
  display: flex;
  margin: 27px 0 40px 0;
}

.feedback__arrow {
  position: relative;
  width: 50%;
  height: 52px;

  border: 1px solid $grey--light;
  background-color: $default-bg-color;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 26px;

    background-repeat: no-repeat;
    background-position: 0 0;

    transform: translate(-50%, -50%);
  }

  &--left::before {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--right::before {
    background-image: url("../img/icon-right-arrow.svg");
  }

  &:hover::before,
  &:focus::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .feedback {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .feedback__title {
    margin: 77px 200px 40px 0;

    font-size: 43px;
    line-height: 1.16;
  }

  .feedback__arrow-wrapper {
    position: absolute;
    bottom: 63px;
    right: 0;
    width: 175px;
    margin: 0;
  }

  .feedback__arrow {
    border: none;
  }

  .feedback__button {
    position: absolute;
    top: 80px;
    right: 0;
    width: 175px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    margin-top: 40px;
    background-position: calc(50% - 350px) 0;
  }

  .feedback__title {
    margin: 70px 200px 40px 175px;

    font-size: 53px;
    line-height: 1.08;
  }

  .feedback__slider {
    margin-left: 175px;
  }

  .feedback__arrow-wrapper {
    bottom: 105px;
  }
}
