.modal-cart {
  position: fixed;
  top: 30vh;
  left: calc(100vw / 2 - 320px / 2);
  width: 320px;

  border: 1px solid $grey--medium;
  background-color: $default-bg-color;
  box-shadow: 0 5px 10px 0 rgba($black, 0.25);
}

.modal-cart__title {
  margin: 30px 0 13px 0;
  padding: 0;

  font-family: $default-font;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: $title-text-color;
  text-transform: uppercase;
  text-align: center;
}

.modal-cart__fieldset {
  margin: 0;
  padding: 0;

  text-align: center;

  border: none;
}

.modal-cart__legend {
  font-family: $default-font;
  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  color: $default-text-color;
}

.modal-cart__list {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0;

  list-style: none;
}

.modal-cart__label {
  display: block;
  width: 82px;
  padding: 17px 5px;

  font-family: $default-font;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  color: $default-text-color;
  text-align: center;

  border: 2px solid rgba($grey--dark, 0.1);

  &:hover,
  &:focus,
  .modal-cart__radio:focus + & {
    border: 2px solid rgba($grey--dark, 0.3);
  }

  &:active,
  .modal-cart__radio:checked + & {
    border: 2px solid $brilliant-green-cyan;
  }
}

.modal-cart__button {
  display: block;
  width: 100%;
  margin: 12px 0 45px 0;
  padding: 16px 5px;

  font-family: $default-font;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: $inverse-text-color;
  text-align: center;
  text-transform: uppercase;

  background-color: $blue--seafoam;
  border: none;

  &:hover {
    color: rgba($inverse-text-color, 0.6);
  }

  &:active {
    color: rgba($inverse-text-color, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .modal-cart {
    left: calc(100vw / 2 - 566px / 2);
    width: 566px;
  }

  .modal-cart__container {
    margin: 0 103px;
  }

  .modal-cart__title {
    margin: 35px 0 13px 0;

    font-size: 30px;
    line-height: 1.9;
  }

  .modal-cart__legend {
    font-size: 17px;
    line-height: 1.76;
  }

  .modal-cart__label {
    width: 112px;
  }
}

@media (min-width: $desktop-width) {
  .modal-cart__container {
    width: auto;
    margin: 0 103px;
  }
}
