.production {
  position: relative;
  margin: 33px 0 58px 0;
  padding: 0 34px;

  font-family: $default-font;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  color: $default-text-color;

  border: 1px solid $grey--light;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:focus-within {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  position: relative;
  margin: 23px 0 26px 0;
  padding: 0 0 0 57px;

  font-family: $default-font;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: $title-text-color;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 0;
    width: 32px;
    height: 32px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    transform: translateY(-50%);
  }
}

.production__video-container {
  position: relative;
  left: -34px;
  width: calc(100% + 34px * 2);
  margin: 20px 0 29px 0;

  overflow: hidden;
}

.production__picture,
.production__img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.production__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 110px;

  transform: translate(-50%, -50%);

  &:hover .production__icon-button {
    width: calc(101px * 1.2);
    height: calc(77px * 1.2);

    fill: $brilliant-green-cyan;
  }

  &:active .production__icon-button {
    width: calc(101px * 0.8);
    height: calc(77px * 0.8);

    fill: $blue--powder;
  }
}

.production__icon-button {
  fill: $brilliant-green-cyan;
}

.production__text {
  margin: 5px 0;
  padding: 0 5px 0 0;
}

.production__order {
  margin: 25px 0 32px 0;
}

@media (min-width: $tablet-width) {
  .production {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px 0 63px 0;
    padding: 0 41px;
  }

  .production__video-container {
    left: -41px;
    width: calc(100% + 41px * 2);
    margin: 0;

    order: -1;
  }

  .production__title {
    margin: 38px 0 23px 0;
    padding: 0 0 0 64px;

    font-size: 20px;
    line-height: 1.2;
  }

  .production__text {
    margin: 10px 0;
    padding: 0 10px 0 0;

    font-size: 15px;
    line-height: 2;
  }

  .production__order {
    margin: 25px 0 45px 0;
  }
}

@media (min-width: $desktop-width) {
  .production {
    display: block;
    min-height: 457px;
    margin: 2px 0 103px 0;
    padding: 0 57px 0 calc(682px + 79px);

    &:hover {
      box-shadow: 6px 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:focus-within {
      box-shadow: 6px 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .production__video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
    margin: 0;
  }

  .production__title {
    margin: 35px 0 32px 0;
    padding: 60px 40px 0 0;

    &::before {
      position: absolute;
      top: 23px;
      left: 0;
    }
  }

  .production__text {
    margin: 10px 0;
    padding: 0;
  }

  .production__order {
    margin: 47px 0 61px 0;
  }
}
