.site-search {
  position: relative;
  display: block;

  border-top: 1px solid $grey--light;

  overflow: hidden;
  cursor: pointer;

  &:hover .site-search__icon-search {
    fill: $blue--seafoam;
    opacity: 1;
  }

  &:focus-within .site-search__icon-search {
    fill: $blue--seafoam;
    opacity: 1;
  }

  &:active .site-search__icon-search {
    fill: $blue--seafoam;
    opacity: 0.3;
  }
}

.site-search__icon-search {
  position: absolute;
  top: 50%;
  left: 32px;
  width: 18px;
  height: 18px;

  opacity: 0.2;
  transform: translateY(-50%);
  pointer-events: none;
}

.site-search__input-text {
  display: block;
  margin: 0 30px;
  padding: 26px 20px 29px 47px;

  font-family: $default-font;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: $title-text-color;

  border: none;

  &::placeholder {
    color: $title-text-color;
  }

  &:hover::placeholder {
    color: rgba($title-text-color, 0.6);
  }
}

@media (min-width: $tablet-width) {
  .site-search {
    width: 84px;

    border-top: none;
    border-left: 1px solid $grey--light;
  }

  .site-search__icon-search {
    left: 35px;
  }

  .site-search__input-text {
    margin: 0;
    padding: 32px 0 33px 84px;

    &::placeholder {
      color: $default-bg-color;
    }

    &:focus::placeholder,
    &:active::placeholder {
      color: $title-text-color;
    }
  }
}
