.site-cart {
  position: relative;
  display: block;
  padding: 26px 40px 29px 77px;

  font-family: $default-font;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
  color: $title-text-color;

  border-top: 1px solid $grey--light;

  &:hover {
    color: rgba($title-text-color, 0.6);
  }

  &:active {
    color: rgba($title-text-color, 0.3);
  }

  &:hover .site-cart__icon-cart {
    fill: $blue--seafoam;
    opacity: 1;
  }

  &:active .site-cart__icon-cart {
    fill: $blue--seafoam;
    opacity: 0.3;
  }
}

.site-cart__icon-cart {
  position: absolute;
  top: 50%;
  left: 32px;
  width: 21px;
  height: 18px;

  opacity: 0.2;

  transform: translateY(-50%);
}

@media (min-width: $tablet-width) {
  .site-cart {
    padding: 30px 0 30px 80px;

    text-align: right;

    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid $grey--light;
  }
}
