.social {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.social__button {
  display: block;
  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center;

  &--insta {
    background-image: url("../img/icon-insta.svg");
  }

  &--fb {
    background-image: url("../img/icon-fb.svg");
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
