.social {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.social__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  &:hover .social__icon {
    fill: $puerto-rico;
    opacity: 1;
  }

  &:active .social__icon {
    fill: $puerto-rico;
    opacity: 0.3;
  }
}
