.social {
  list-style: none;
}

.social__button {
  display: block;

  background-repeat: no-repeat;
  background-position: 0 0;

  &--insta {
    width: 22px;
    height: 21px;

    background-image: url("../img/icon-insta.svg");
  }

  &--fb {
    width: 15px;
    height: 28px;

    background-image: url("../img/icon-fb.svg");
  }

  &--twitter {
    width: 23px;
    height: 20px;

    background-image: url("../img/icon-twitter.svg");
  }
}
