.features {
  font-family: $default-font;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: $title-text-color;
}

.features__title {
  font-size: 25px;
  line-height: 1.2;
}

.features__list {
  list-style: none;
}

.features__item {
  position: relative;
  margin-top: 50px;

  &::before {
    content: "";

    position: absolute;
    top: -40px;

    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--flower::before {
    width: 32px;
    height: 37px;

    background-image: url("../img/icon-feature-flower.svg");
  }

  &--money::before {
    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-money.svg");
  }

  &--heart::before {
    width: 34px;
    height: 27px;

    background-image: url("../img/icon-feature-heart.svg");
  }

  &--ball::before {
    width: 35px;
    height: 34px;

    background-image: url("../img/icon-feature-ball.svg");
  }

  &--rocket::before {
    width: 55px;
    height: 23px;

    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--gift::before {
    width: 33px;
    height: 32px;

    background-image: url("../img/icon-feature-gift.svg");
  }
}
