.feedback__title {
  font-family: $default-font;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: $title-text-color;
}

.feedback__arrow {
  border: 1px solid $very-light-grey;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--left {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--right {
    background-image: url("../img/icon-right-arrow.svg");
  }
}
