.site-description {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-description__title {
  font-family: $default-font;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  color: $title-text-color;
}
