.site-search__input-text {
  font-family: $default-font;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: $title-text-color;

  border: none;

  &::placeholder {
    color: $title-text-color;
  }
}
