.site-cart {
  position: relative;
  display: block;
  padding: 26px 10% 20px 23.75%;
  min-height: 80px;

  font-family: $default-font;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
  color: $title-text-color;

  border-bottom: 1px solid $grey--light;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: calc(23.75% - 45px);
    width: 21px;
    height: 18px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.6;
    transform: translateY(-50%);
  }

  &:hover::before {
    opacity: 1;
  }

  &:active::before {
    opacity: 0.3;
  }

  &:hover {
    color: rgba($title-text-color, 0.6);
  }

  &:active {
    color: rgba($title-text-color, 0.3);
  }
}
