$default-font: "Open Sans", "Arial", sans-serif;

$default-text-color: #444444;
$title-text-color: #000000;
$inverse-text-color: #ffffff;

$default-bg-color: #ffffff;

$seafoam-blue: #63d1bb;
$aqua-marine: #56c3b2;
